.bio h2 {
    /* font-family: "ApexMk3"; */
    font-family: "GRIFTER";
    color: rgb(0, 0, 0);
    font-size: 2em;
    margin: 0.67em 0;
}
/* .o-h,
.o-h1,
h2
{
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 400;
} */
/* .o-h1,
h1 {
    line-height: 0.9;
    text-transform: uppercase;
} */
/* @media (max-width: 699px) {
.o-h1,
h1 {
      font-size: 12vw;
    }
}
@media (min-width: 700px) and (max-width: 1599px) {
.o-h1,
h1 {
    font-size: 13.5vw;
    }
}
@media (min-width: 1600px) {
.o-h1,
h1 {
      font-size: 12vw;
    }
} */

.biography__container {
    margin-right: auto;
    margin-left: auto;
    max-width: 95rem;
}
@media (max-width: 699px) {
    .biography__container {
      padding-right: 20px;
      padding-left: 20px;
    }
}
@media (min-width: 700px) {
    .biography__container {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
    }
}

.o-bio {
    margin: 0;
    padding: 2.5rem 0;
    perspective: 600px;
    -webkit-perspective: 600px;
}
.o-bio_line {
    display: block;
    opacity: 0;
    /* transform-origin: center top; */
    transform-style: preserve-3d;
    transform: translateY(100%) rotateX(-80deg);
    transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1),
      transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-size: 0;
}
.o-bio.is-inview .o-bio_line {
    transform: none;
    opacity: 1;
}
.o-bio.is-inview .o-bio_line:first-child {
    transition-delay: 0.2s;
}
.o-bio.is-inview .o-bio_line:nth-child(2) {
    transition-delay: 0.3s;
}
.o-bio.is-inview .o-bio_line:nth-child(3) {
    transition-delay: 0.4s;
}
.o-bio.is-inview .o-bio_line:nth-child(4) {
    transition-delay: 0.5s;
}
.o-bio.is-inview .o-bio_line:nth-child(5) {
    transition-delay: 0.6s;
}
.o-bio.is-inview .o-bio_line:nth-child(6) {
    transition-delay: 0.7s;
}
.o-bio.is-inview .o-bio_line:nth-child(7) {
    transition-delay: 0.8s;
}


.o-bio_line span {
    display: inline-block;
    min-width: 0.05em;
    font-size: 4.8vw;
    text-transform: uppercase;
}
  
@media (max-width: 699px){
    .o-bio_line span{
        text-transform: uppercase;
        font-size: 4.3vw;
    }
}