@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');


.menu__item-container {
  display: flex;
  flex-direction: column;
}
.menu__item-text {
  /* line-height: 100px; */
  text-transform: uppercase;
  display: inline-flex;
  position: relative;
  z-index: -1;
}
.menu__item-text:hover {
  color: white;
  position: relative;
  z-index: 3;
}
.menu__item-image {
  height: 300px;
  width: 240px;
  background-size: cover;
  position: absolute;
  z-index: -2;
  opacity: 0;
  /* margin-top: -150px; */
  margin-top: 250px;
  transform: scale(0.4);
}
.menu__item-image.living, .menu__item-image.resting {
  background-image: url("img/md-1.jpg");
}
.menu__item-image.dining {
  background-image: url("img/md-1.jpg");
}
.menu__item-image.endulging {
  background-image: url('img/md-1.jpg');
}
.menu__item-image.floorplans {
  background-image: url('img/md-1.jpg');
}
.menu__item-image.enquiring {
  background-image: url('img/md-1.jpg');
}

