@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

/* OVERLAY */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 99;
}
  
.background {
    background: #e6dfd2;
}

#wwrapper{
    display: flex;
}

/* ============ */

.wrapper{
	width: 100%;
	position: absolute;
    font-size : 2vh;
    background-color: #e6dfd2;
}
.wrapper h2{
    font-family: 'Mukta', sans-serif;
}
.rw-words span{
	position: absolute;
    left: 10%;
    top: 50%;
	opacity: 0;
	overflow: hidden;
	width: 100%;
}
.rw-words-2 span{
	/* animation: rotateWordsSecond 5s linear infinite 0s; */
    animation: rotateWordsSecond 5s;
}
.rw-words span:nth-child(2) { 
	animation-delay: 1s; 
	color: rgb(0, 0, 0);
}
.rw-words span:nth-child(3) { 
	animation-delay: 2.3s; 
	color: rgb(0, 0, 0);	
}
.rw-words span:nth-child(4) { 
	animation-delay: 3.3s; 
	color: rgb(0, 0, 0);
}
.rw-words span:nth-child(5) { 
	animation-delay: 4.3s; 
	color: rgb(0, 0, 0);
}
.rw-words span:nth-child(6) {  
	animation-delay: 5.3s; 
	color: rgb(0, 0, 0);
}
@keyframes rotateWordsSecond {
    0% { opacity: 2; animation-timing-function: ease-out; width: 0px; }
    10% { opacity: 1; width: 20%; }
	20% { opacity: 1; width: 30%; }
    27% { opacity: 0; width: 50%; }
    /* 100% { opacity: 0; } */
}


@media screen and (min-width: 769px){
    .wrapper{
        width: 50%;
        position: absolute;
        font-family: 'Roboto';
        font-size : 4vh;
        background-color: #e6dfd2;
    }

    .rw-words span{
        position: absolute;
        left: 10%;
        top: 50%;
        opacity: 0;
        overflow: hidden;
        width: 100%;
    }
}

/* NUMBERS =================================== */
/* .numbers{
    display: flex;
    font-family: 'Mukta', sans-serif;
    color: rgb(0, 0, 0);
    top: 4%;
    left: 90%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.numbers span{
    height: 40px;
    text-align: right;
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
    overflow: hidden;
}
.numbers span::before{
    position: relative;
    content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9";
    white-space: pre;
}
.numbers span.first__numbers::before{
    animation: text 0.4s steps(10);
    animation-iteration-count: 10;
}
.numbers span.second__numbers::before{
    animation: text 4s steps(10);
}
.numbers span.third__numbers::before{
    animation: text1 100s steps(1);
}
@keyframes text{
    0%{
        top: 0;
    }
    100%{
        top: -400px;
    }
}
@keyframes text1{
    0%{
        top: 0;
    }
    10%{
        top: -40px;
    }
}
.container__numbers:hover span::before{
    animation-play-state: paused;
}

@media screen and (min-width: 769px){
    .numbers{
        top: 10%;
        left: 90%;
    }
    .numbers span{
        font-size: 20px;
    }
} */


.loader .loader-counter h1 {
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 4%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 20px;
}