@font-face{
    font-family: "ApexMk3"; 
    src: url('./FONTS/ApexMk3/Apex\ Mk3-Medium.otf') format('opentype');
}
@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Verdana, sans-serif;
    background-color: #e6dfd2;
}
/* *************************************** */

/*** Nav ***  =================== */
nav{
    font-family: "GRIFTER";
    color: rgb(0, 0, 0);
    margin-top: -30px;
}

li{
    list-style: none;
    font-size: 1.2em;
    margin-left: -20px;
    margin-right: 20px;
}
.li__right{
    text-align: right;
}
.header {
    filter: url("#liquify");
    opacity: 0;
    text-align: left;

    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 769px){
    li{
        font-size: 2em;
    }
}
/*** Titre *** ==================== */
.passion__title{
    margin-top: 250px;
}
#passion__1{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 4.2em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__passion_1 {
    overflow: hidden;
    width: 100%;
    height: 115px;
    z-index: 1;

    text-align: center;
    margin-top: -200px;
}
#passion__2{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 4.2em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__passion_2 {
    overflow: hidden;
    width: 100%;
    height: 115px;
    z-index: 1;

    text-align: center;
    margin-top: -50px;
}
@media screen and (min-width: 700px){
    .passion__title{
        margin-top: 0px;
    }
    #passion__1{
        font-size: 8em;
    }
    .text__passion_1{
        height: 218px;
        margin-top: 0px;
        text-align: center;
    }
    #passion__2{
        font-size: 8em;
    }
    .text__passion_2{
        height: 218px;
        margin-top: -100px;
        text-align: center;
    }
}
@media screen and (min-width: 900px){
    .passion__title{
        margin-top: -100px;
    }
    #passion__1{
        font-size: 10em;
    }
    .text__passion_1{
        height: 273px;
        margin-top: 0px;
        text-align: center;
    }
    #passion__2{
        font-size: 10em;
    }
    .text__passion_2{
        height: 273px;
        margin-top: -150px;
        text-align: center;
    }
}

/* ******************************************** */


.wrapper {
    margin: 0 auto;
    max-width: 100vw;

    margin-top: 50px;
}

.page-wrap {
    width: 100%;
    position: relative;
}

.text-section {
    width: 570px;
    margin-left: auto;
}
@media screen and (min-width: 700px){
    .text-section {
        width: 980px;
        margin-left: auto;
    }
}


#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    /* avoid pointer events on canvas */
    pointer-events: none;
}

.showcase-curtain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.showcase-curtain img {
    display: none;
}



#content {
    position: relative;
    z-index: 15;
    overflow-x: hidden;
    padding-top: 2.9em;
}



.websites-examples-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}

.website-example-item {
    flex-basis: 70%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.website-example-cover {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.833%;
}

.website-example-cover img {
    opacity: 0;
}



/*** handling errors ***/

.no-curtains .website-example-cover img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
}

.no-curtains .showcase-curtain img {
    display: block;
}