@font-face{
    font-family: "ApexMk3"; 
    src: url('./FONTS/ApexMk3/Apex\ Mk3-Medium.otf') format('opentype');
}
@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}

html, body {
    /* background-color: #e6dfd2; */
    margin: 0;
    padding: 0;
}
.section{
    height: 100vh;
}

/* NAV ======================================= */
nav{
    font-family: "GRIFTER";
    /* font-family: 'Mukta', sans-serif; */
    color: rgb(0, 0, 0);
}

li{
    list-style: none;
    font-size: 1.2em;
    margin-left: -20px;
    margin-right: 20px;
}
.li__right{
    text-align: right;
}
.header {
    filter: url("#liquify");
    opacity: 0;
    text-align: left;
    /* text-align: center;
    transform: translateY(50px); */

    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 769px){
    li{
        font-size: 2em;
    }
}
/* ============================================== */
.o-title{
    text-align: center;
}
.passion_one{
    width: 330px;
}
@media screen and (min-width: 700px){
    .passion_one{
        width:650px;
    }
    .o-title{
        text-align: center;
    }
}
@media screen and (min-width: 900px){
    .passion_one{
        width: 900px;
    }
}
/* ====================================== */
/* #passion__1{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 1.5em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__passion_1 {
    overflow: hidden;
    width: 100%;
    height: 43px;
    z-index: 1;

    margin-top: -320px;
    text-align: left;
    margin-left: 30px;
} */
/* #passion__2{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 1.5em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__passion_2 {
    overflow: hidden;
    width: 100%;
    height: 43px;
    z-index: 1;

    margin-top: -15px;
    text-align: left;
    margin-left: 30px;
} */
#passion__3{
    font-family: "GRIFTER";
    /* font-family: 'Mukta', sans-serif; */
    font-weight: lighter;
    font-size: 1.5em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__passion_3 {
    overflow: hidden;
    width: 100%;
    height: 43px;
    z-index: 1;

    margin-top: -20px;
    text-align: left;
    margin-left: 30px;
}
#passion__4{
    font-family: "GRIFTER";
    /* font-family: 'Mukta', sans-serif; */
    font-weight: lighter;
    font-size: 1.5em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__passion_4 {
    overflow: hidden;
    width: 100%;
    height: 43px;
    z-index: 1;

    margin-top: -20px;
    text-align: left;
    margin-left: 30px;
}
@media screen and (min-width: 700px){
    /* #passion__1{
        font-size: 2.5em;
    }
    .text__passion_1{
        height: 72px;
        margin-top: -300px;
        text-align: left;
        margin-left: 50px;
    }
    #passion__2{
        font-size: 2.5em;
    }
    .text__passion_2{
        height: 72px;
        margin-top: -30px;
        text-align: left;
        margin-left: 50px;
    } */
    #passion__3{
        font-size: 2.5em;
    }
    .text__passion_3{
        height: 72px;
        margin-top: -30px;
        text-align: left;
        margin-left: 50px;
    }
    #passion__4{
        font-size: 2.5em;
    }
    .text__passion_4{
        height: 72px;
        margin-top: -30px;
        text-align: left;
        margin-left: 50px;
    }
}
@media screen and (min-width: 900px){
    #passion__1{
        font-size: 3em;
    }
    .text__passion_1{
        height: 88px;
        margin-top: 300px;
        text-align: left;
        margin-left: 150px;
    }
    #passion__2{
        font-size: 3em;
    }
    .text__passion_2{
        height: 88px;
        margin-top: -40px;
        text-align: left;
        margin-left: 150px;
    }
    #passion__3{
        font-size: 3em;
    }
    .text__passion_3{
        height: 88px;
        margin-top: -40px;
        text-align: left;
        margin-left: 150px;
    }
    #passion__4{
        font-size: 3em;
    }
    .text__passion_4{
        height: 88px;
        margin-top: -40px;
        text-align: left;
        margin-left: 150px;
    }
}

/* ============================================================= */

.image {
    background-image: url("./img-portfolio/passion-coiffure-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    
    overflow: hidden;
    position: relative;

    width: 350px;
    height:100%;
    z-index: -1;
} 
.box-color {
    background-color: #e6dfd2;
    overflow: hidden;
    width: 350px;
    height: 700px;
}
@media screen and (min-width: 700px){
    .image{
        margin-top: 0px;
        width: 700px;
        height:100%;
    }
    .box-color{
        width: 700px;
        height: 500px;
    }
}
@media screen and (min-width: 900px){
    .image{
        width: 1200px;
        height:100%;
    }
    .box-color{
        width: 1200px;
        height: 700px;
    }
}

/* ========================================================= */

.text_bloc__one{
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    width: 300px;
    margin-left: 30px;
    margin-top: 40px;
}
@media screen and (min-width: 700px){
    .text_bloc__one{
        font-size: 1.5em;
        width: 400px;
        margin-left: auto;
        margin-right: 50px;
        margin-top: 60px;
    }
}
@media screen and (min-width: 900px){
    .text_bloc__one{
        font-size: 2.1em;
        width: 700px;
        margin-left: auto;
        margin-right: 150px;
        margin-top: 0px;
    }
}

/* ================================================================================================ */

