@font-face{
    font-family: "New York"; 
    src: url('./fonts/New York/NewYork.otf') format('opentype');
}
@font-face{
    font-family: "ApexMk3"; 
    src: url('./FONTS/ApexMk3/Apex\ Mk3-Medium.otf') format('opentype');
}
@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

html, body {
    background-color: #e6dfd2;
    margin: 0;
    padding: 0;
}
section {
    height: 100vh;
    width: 100%;
}
/* ========================================== */
nav{
    font-family: "GRIFTER";
    /* font-family: 'Mukta', sans-serif; */
    color: rgb(0, 0, 0);
}

li{
    list-style: none;
    font-size: 1.2em;
    margin-left: -20px;
    margin-right: 20px;
}
.li__right{
    text-align: right;
}
.header {
    filter: url("#liquify");
    opacity: 0;
    text-align: left;
    /* text-align: center;
    transform: translateY(50px); */

    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 769px){
    li{
        font-size: 2em;
    }
}
/* TEXTE ABOUT =================================== */
#num__1{
    /* font-family: "GRIFTER"; */
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__num__1 {
    overflow: hidden;
    width: 100%;
    height: 12px;
    z-index: 1;

    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: -15px;
}
.about{
    font-size: 0.7em;
}
.biography__container{
    margin-top: -1000px;
}
@media screen and (min-width: 769px){
    .biography__container{
        margin-top: -2700px;
        z-index: 99;
    }
    #num__1{
        font-size: 2em;
    }
    .text__num__1{
        height: 15px;
    }
}

/* IMG ================================== */
.bio__container{
    margin-left: 20px;
    margin-top: -50px;
}
/* Les noms ont été interverti pour permettre l'effet Fade In */
/* .image_gallery { */
.box-color {
    background-image: url("./img/md-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */

    width: 350px;
    height: 100%;
    z-index: -1;
} 
/* .box-color { */
.image_gallery {
    background-color: #e6dfd2;
    overflow: hidden;
    width: 350px;
    height: 300px;

    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: -20px;
}

@media screen and (min-width: 769px){
    .box-color {
        width: 550px;
        height: 100%;
    }
    .image_gallery{
        width: 550px;
        height: 600px;
        margin-top: 50px;
    }
}
/* ======= */
.wrapper__img{
	width: 100%;
	position: absolute;
    font-size : 0.9vh;
    margin-left: -20px;
    background-color: transparent;
}
.wrapper__img h2{
    font-family: 'Mukta', sans-serif;
}
.rw-words__img span{
	position: absolute;
    left: 10%;
    top: 50%;
	opacity: 0;
	overflow: hidden;
	width: 100%;
}
.rw-words-2__img span{
	animation: rotateWordsSecond 5s linear infinite 0s;
    /* animation: rotateWordsSecond 5s; */
    color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(2) { 
	animation-delay: 1s; 
	color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(3) { 
	animation-delay: 2.3s; 
	color: rgb(255, 254, 254);	
}
/* .rw-words__img span:nth-child(4) { 
	animation-delay: 3.3s; 
	color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(5) { 
	animation-delay: 4.3s; 
	color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(6) {  
	animation-delay: 5.3s; 
	color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(7) {  
	animation-delay: 6.3s; 
	color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(8) {  
	animation-delay: 7.3s; 
	color: rgb(255, 255, 255);
} */
@keyframes rotateWordsSecond {
    0% { opacity: 2; animation-timing-function: ease-out; width: 0px; }
    10% { opacity: 1; width: 20%; }
	20% { opacity: 1; width: 30%; }
    27% { opacity: 0; width: 50%; }
    /* 100% { opacity: 0; } */
}


@media screen and (min-width: 769px){
    .wrapper__img h2{
        width: 120%;
        position: absolute;
        font-family: 'Mukta', sans-serif;
        font-size : 1.8vh;
        background-color: transparent;
        margin-left: -20px;
    }

    .rw-words__img span{
        position: absolute;
        /* left: 10%; */
        top: 50%;
        opacity: 0;
        overflow: hidden;
        width: 100%;
    }
}



/* TEXTE HORIZONTAL 1 =========================================== */
.content--feature {
	justify-content: flex-start;
	min-height: 0;
}
.content__breakout {
	white-space: nowrap;
	text-transform: uppercase;
	/* font-family: "GRIFTER"; */
    font-family: 'Mukta', sans-serif;
    /* color: #75613b; */
    color: grey;
}
.content__breakout--big {
    color: rgba(255, 0, 0, 0.377);
	font-size: 30em;
	font-weight: 200;
    margin-top: -210px;
}
.content{
    margin-top: -150px;
}
.folio{
    margin-top: -190px;
}
.contact{
    margin-top: 50px;
}
.b-text{
    margin-top: 0;
    z-index: -99;
}
@media screen and (min-width: 769px){
    .b-text{
        
        /* margin-top: -300px; */
    }
    .content__breakout--big {
        font-size: 70em;
        margin-top: -200px;
        /* font-size: 15em; */
    }
    .folio{
        margin-bottom: 0px;
    }
}
/* TEXTE HORIZONTAL 2 =========================================== */
.content--feature_2 {
	justify-content: flex-start;
	min-height: 0;
}
.content__breakout_2 {
	white-space: nowrap;
	text-transform: uppercase;
	/* font-family: "GRIFTER"; */
    font-family: 'Mukta', sans-serif;
    color: #75613b;
}
.content__breakout--big_2 {
	font-size: 6em;
	font-weight: 200;
}
.content_2{
    margin-top: 0px;
}
.b-text_2{
    margin-top: 170px;
    z-index: 99;
}
@media screen and (min-width: 769px){
    .b-text_2{
        margin-top: 600px;
    }
    .content__breakout--big_2 {
        font-size: 15em;
    }
}

/* BODYMOVIN ========================================= */
#bodymovin{
    width: 15%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 769px){
    #bodymovin{
        width: 10%;
        margin-top: 150px;
    }
}
/* =================================================== */
#num__2{
    /* font-family: "GRIFTER"; */
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__num__2 {
    overflow: hidden;
    width: 100%;
    height: 35px;
    z-index: 1;

    padding-top: 50px;
    margin-left: 20px;
    margin-bottom: 180px;
}
.work{
    font-size: 0.7em;
}
@media screen and (min-width: 769px){
    #num__2{
        font-size: 2em;
    }
    .text__num__2{
        height: 69px;
        margin-top: 100px;
        margin-bottom: 180px;
    }
}

/* PRESENTATION PROJETS ================================ */
.projects__top{
    display: flex;
    margin-top: -150px;
}
.projects__bottom{
    display: flex;
    margin-top: 100px;
    margin-bottom: 200px;
}
.box_img_one {
    background-image: url("./img/ben2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */

    width: 180px;
    height: 100%;
    z-index: -1;
} 
.box_img_two {
    background-image: url("./img/flower_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */

    width: 180px;
    height: 100%;
    z-index: -1;
}
.box_img_three {
    background-image: url("./img/photographer_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */

    width: 180px;
    height: 100%;
    z-index: -1;
}
.box_img_four {
    background-image: url("./img/md-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */

    width: 180px;
    height: 100%;
    z-index: -1;
}
/* .box-color { */
.img {
    background-color: #e6dfd2;
    overflow: hidden;
    width: 180px;
    height: 250px;

    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: -20px;
}

@media screen and (min-width: 769px){
    .box_img_one, .box_img_two, .box_img_three, .box_img_four {
        width: 550px;
        height: 100%;
    }
    .img{
        width: 550px;
        height: 600px;
        margin-top: 50px;
    }

    .projects__top{
        margin-top: -250px;
    }
    .projects__bottom{
        margin-top: -100px;
    }
}

/* TEXTE DYNAMIQUE PROJETS ===== */
.projects__img{
    margin-left: -5px;
    font-size: 0.45em;
}

@media screen and (min-width: 769px){
    .projects__img{
        font-size: 3.5em;
    }
}
/* TEXTE en DESSOUS DES PHOTOS ===== */
.projects_text{
    display: flex;
}
#text_n1{
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text_1 {
    overflow: hidden;
    width: 100%;
    height: 36px;
    z-index: 1;

    padding-top: -15px;
    margin-left: 5px;
    margin-bottom: 0px;
}

#text_n2{
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text_2 {
    overflow: hidden;
    width: 100%;
    height: 36px;
    z-index: 1;

    padding-top: -35px;
    margin-left: 5px;
    margin-bottom: 0px;
}

#text_n3{
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text_3 {
    overflow: hidden;
    width: 100%;
    height: 36px;
    z-index: 1;

    margin-top: -200px;
    margin-left: 5px;
    margin-bottom: 0px;
}

#text_n4{
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text_4 {
    overflow: hidden;
    width: 100%;
    height: 36px;
    z-index: 1;

    margin-top: -180px;
    margin-left: 5px;
    margin-bottom: 0px;
}

@media screen and (min-width: 769px){
    #text_n1, #text_n2, #text_n3, #text_n4{
        font-size: 1.2em;
    }
    .text_1{
        height: 43px;
        margin-top: -10px;
        margin-left: 45px;
    }
    .text_2{
        height: 43px;
        margin-top: -100px;
        margin-bottom: 180px;
        margin-left: 80px;
    }
    .text_3{
        height: 43px;
        margin-top: -230px;
        margin-left: 45px;
    }
    .text_4{
        height: 43px;
        margin-top: -210px;
        margin-left: 45px;
    }
}







/* #bio__2{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;

    padding-top: 10px;
    margin-top: 0;
}
.text__bio__2 {
    overflow: hidden;
    width: 100%;
    height: 22px;
    z-index: 1;
}
#bio__3{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;

    padding-top: 10px;
    margin-top: 0;
}
.text__bio__3 {
    overflow: hidden;
    width: 100%;
    height: 23px;
    z-index: 1;
}
#bio__4{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;

    padding-top: 10px;
    margin-top: 0;
}
.text__bio__4 {
    overflow: hidden;
    width: 100%;
    height: 23px;
    z-index: 1;
}
#bio__5{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;

    padding-top: 10px;
    margin-top: 0;
}
.text__bio__5 {
    overflow: hidden;
    width: 100%;
    height: 23px;
    z-index: 1;
}
#bio__6{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;

    padding-top: 10px;
    margin-top: 0;
}
.text__bio__6 {
    overflow: hidden;
    width: 100%;
    height: 23px;
    z-index: 1;
}
#bio__7{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;

    padding-top: 10px;
    margin-top: 0;
}
.text__bio__7 {
    overflow: hidden;
    width: 100%;
    height: 23px;
    z-index: 1;
}
@media screen and (max-width: 768px){
    .bio__container__xl{
        display: none;
    }
}
@media screen and (min-width: 769px){
    .bio__container{
        display: none;
    }
    .bio__container__xl{
        margin-left: 45px;
        margin-top: 0px;
    }
    #bio__1{
        font-size: 2em;
    }
    .text__bio__1{
        height: 57px;
        margin-bottom: -30px;
    }
    #bio__2{
        font-size: 2em;
    }
    .text__bio__2{
        height: 57px;
        margin-bottom: -30px;
    }
    #bio__3{
        font-size: 2em;
    }
    .text__bio__3{
        height: 57px;
        margin-bottom: -30px;
    }
    #bio__4{
        font-size: 2em;
    }
    .text__bio__4{
        height: 57px;
        margin-bottom: -30px;
    }
    #bio__5{
        font-size: 2em;
    }
    .text__bio__5{
        height: 57px;
        margin-bottom: -30px;
    }
    #bio__6{
        font-size: 2em;
    }
    .text__bio__6{
        height: 57px;
        margin-bottom: -30px;
    }
    #bio__7{
        font-size: 2em;
    }
    .text__bio__7{
        height: 57px;
        margin-bottom: -30px;
    }
} */

/* WORK CONTAINER ===================================== */
.work__container{
    margin-left: 20px;
}
#work{
    font-family: "GRIFTER";
    font-weight: lighter;
    font-size: 6.5em; 
    color: rgb(0, 0, 0);
    z-index: 2;

    margin-top: 100px;
}
.text__work {
    overflow: hidden;
    width: 100%;
    height: 183px;
    z-index: 1;
}
@media screen and (max-width: 768px){
    .work__container-xl{
        display: none;
    }
}
@media screen and (min-width: 769px){
    .work__container{
        display: none;
    }
    .work__container-xl{
        margin-left: 45px;
    }
    #work-xl{
        font-family: "GRIFTER";
        font-weight: lighter;
        font-size: 15em; 
        color: rgb(0, 0, 0);
        z-index: 2;
    
        margin-top: 100px;
    }
    .text__work-xl {
        overflow: hidden;
        width: 100%;
        height: 291px;
        z-index: 1;
    }
}
/* ==================================================== */


/* ========================================================================================================================================================================================================================================================================================================================================================================================================================== */



h1{
    font-size: 5em;
    margin-top: 50px;
}

.text-display-0 {
    overflow: hidden;
    width: 100%;
    height: 190px;
    position: absolute;
}
#text-0{
    font-family: "New York";
    font-weight: lighter;
    text-align: left;
    font-size: 12em; 
    color: #0000005d;
    position: relative;
    z-index: 2;
    padding-top: 0;
    margin-top: 0px;
}

.text-display-1 {
    overflow: hidden;
    width: 100%;
    height: 370px;
    position: absolute;
}
#text-1{
    font-family: "New York";
    font-weight: lighter;
    text-align: center;
    font-size: 12em; 
    color: #0000005d;
    position: relative;
    z-index: 2;
    padding-top: 130px;
}

.text-display-2 {
    overflow: hidden;
    width: 100%;
    height: 538px;
    position: absolute;
}
#text-2{
    font-family: "New York";
    font-weight: lighter;
    text-align: left;
    font-size: 12em; 
    color: #0000005d;
    position: relative;
    z-index: 2;
    padding-top: 300px;
}

.text-display-3 {
    overflow: hidden;
    width: 100%;
    height: 708px;
    position: absolute;
}
#text-3{
    font-family: "New York";
    font-weight: lighter;
    text-align: right;
    font-size: 12em; 
    color: #0000005d;
    position: relative;
    z-index: 2;
    padding-top: 470px;
}

/* ========================= */



/* ================================================================= */


.bloc{
    margin-top: 100px;
}
h3{
    margin-top: 100px;
    font-size: 5em;
}