@font-face{
    font-family: "New York"; 
    src: url('./fonts/New York/NewYork.otf') format('opentype');
}
@font-face{
    font-family: "ApexMk3"; 
    src: url('./FONTS/ApexMk3/Apex\ Mk3-Medium.otf') format('opentype');
}
@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

html, body {
    background-color: #e6dfd2;
    margin: 0;
    padding: 0;
}
section {
    height: 100vh;
    width: 100%;
}
/* ========================================== */
nav{
    font-family: "GRIFTER";
    /* font-family: 'Mukta', sans-serif; */
    color: rgb(0, 0, 0);
}

li{
    list-style: none;
    font-size: 1.2em;
    margin-left: -20px;
    margin-right: 20px;
}
.li__right{
    text-align: right;
}
.header {
    filter: url("#liquify");
    opacity: 0;
    text-align: left;
    /* text-align: center;
    transform: translateY(50px); */

    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 769px){
    li{
        font-size: 2em;
    }
}
/* TEXTE ABOUT =================================== */
#num__1{
    /* font-family: "GRIFTER"; */
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__num__1 {
    overflow: hidden;
    width: 100%;
    height: 6px;
    z-index: 1;

    padding-top: 15px;
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 25px;
}
.about{
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .biography__container{
        display: none;
    }
    .biography__container__2{
        display: none;
    }
}

.biography__container__mobile{
    margin-top: -980px;
    margin-left: 10px;
}
.biography__container__2__mobile{
    margin-top: -900px;
    margin-left: 10px;
}
@media screen and (min-width: 769px){
    .biography__container__mobile{
        display: none;
    }
    .biography__container__2__mobile{
        display: none;
    }

    .biography__container{
        margin-top: -2100px;
        z-index: 99;
    }
    #num__1{
        font-size: 2em;
    }
    .text__num__1{
        height: 15px;
        margin-top: 150px;
    }
}

/* IMG ================================== */
.bio__container{
    margin-left: 20px;
    margin-top: -50px;
}
/* Les noms ont été interverti pour permettre l'effet Fade In */
/* .image_gallery { */
.box-color {
    background-image: url("./img/md-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */

    width: 350px;
    height: 100%;
    z-index: -1;
} 
/* .box-color { */
.image_gallery {
    background-color: #e6dfd2;
    overflow: hidden;
    width: 350px;
    height: 300px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: -20px;
}

@media screen and (min-width: 769px){
    .box-color {
        width: 550px;
        height: 100%;
    }
    .image_gallery{
        width: 550px;
        height: 600px;
        margin-top: 50px;
    }
}
/* ======= */
.wrapper__img{
	width: 100%;
	position: absolute;
    font-size : 0.9vh;
    margin-left: -20px;
    background-color: transparent;
}
.wrapper__img h2{
    font-family: 'Mukta', sans-serif;
}
.rw-words__img span{
	position: absolute;
    left: 10%;
    top: 50%;
	opacity: 0;
	overflow: hidden;
	width: 100%;
}
.rw-words-2__img span{
	animation: rotateWordsSecond 5s linear infinite 0s;
    /* animation: rotateWordsSecond 5s; */
    color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(2) { 
	animation-delay: 1s; 
	color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(3) { 
	animation-delay: 2.3s; 
	color: rgb(255, 254, 254);	
}
.rw-words__img span:nth-child(4) { 
	animation-delay: 3.3s; 
	color: rgb(255, 255, 255);
}
/* .rw-words__img span:nth-child(5) { 
	animation-delay: 4.3s; 
	color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(6) {  
	animation-delay: 5.3s; 
	color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(7) {  
	animation-delay: 6.3s; 
	color: rgb(255, 255, 255);
}
.rw-words__img span:nth-child(8) {  
	animation-delay: 7.3s; 
	color: rgb(255, 255, 255);
} */
@keyframes rotateWordsSecond {
    0% { opacity: 2; animation-timing-function: ease-out; width: 0px; }
    10% { opacity: 1; width: 20%; }
	20% { opacity: 1; width: 30%; }
    27% { opacity: 0; width: 50%; }
    /* 100% { opacity: 0; } */
}


@media screen and (min-width: 769px){
    .wrapper__img h2{
        width: 120%;
        position: absolute;
        font-family: 'Mukta', sans-serif;
        font-size : 1.8vh;
        background-color: transparent;
        margin-left: -20px;
    }

    .rw-words__img span{
        position: absolute;
        /* left: 10%; */
        top: 50%;
        opacity: 0;
        overflow: hidden;
        width: 100%;
    }
}



/* TEXTE HORIZONTAL 1 =========================================== */
.content--feature {
	justify-content: flex-start;
	min-height: 0;
}
.content__breakout {
	white-space: nowrap;
	text-transform: uppercase;
	font-family: "GRIFTER";
    /* font-family: 'Mukta', sans-serif; */
    /* color: #75613b; */
    /* color: grey; */
}
.content__breakout--big {
    color: rgba(255, 0, 0, 0.377);
	font-size: 30em;
	font-weight: 200;
    margin-top: 60px;
}
.content{
    margin-top: 0px;
}
.folio{
    margin-top: -190px;
}
.contact{
    margin-top: 50px;
}
.b-text{
    margin-top: 0;
    z-index: -99;
}
@media screen and (min-width: 769px){
    .content__breakout--big {
        font-size: 70em;
        margin-top: -300px;
        /* font-size: 15em; */
    }
    .folio{
        margin-bottom: 0px;
    }
}
/* TEXTE HORIZONTAL 2 =========================================== */
.content--feature_2 {
	justify-content: flex-start;
	min-height: 0;
}
.content__breakout_2 {
	white-space: nowrap;
	text-transform: uppercase;
	font-family: "GRIFTER";
    /* font-family: 'Mukta', sans-serif; */
    color: rgba(255, 0, 0, 0.377);
}
.content__breakout--big_2 {
	font-size: 30em;
	font-weight: 200;
}
.content_2{
    margin-top: 0px;
}
.b-text_2{
    margin-top: 170px;
    z-index: 99;
}
@media screen and (min-width: 769px){
    .b-text_2{
        margin-top: 200px;
    }
    .content__breakout--big_2 {
        font-size: 70em;
    }
}

/* BODYMOVIN ========================================= */
#bodymovin{
    width: 15%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 769px){
    #bodymovin{
        width: 10%;
        margin-top: 150px;
    }
}
/* =================================================== */
#num__2{
    /* font-family: "GRIFTER"; */
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__num__2 {
    overflow: hidden;
    width: 100%;
    height: 45px;
    z-index: 1;

    padding-top: 100px;
    margin-left: 20px;
    margin-bottom: 17px;
}
.work{
    font-size: 1.5em;
    font-weight: bold;
}
#num__2_1{
    /* font-family: "GRIFTER"; */
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 0.8em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__num__2_1 {
    overflow: hidden;
    width: 100%;
    height: 28px;
    z-index: 1;

    padding-top: 5px;
    margin-top: -35px;
    margin-left: 20px;
}
@media screen and (min-width: 769px){
    #num__2{
        font-size: 2em;
    }
    .text__num__2{
        height: 88px;
        margin-top: 200px;
        margin-bottom: -50px;
    }
    #num__2_1{
        display: none;
    }
}
/* ====================================================== */
/* =================================================== */
#num__3{
    /* font-family: "GRIFTER"; */
    font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    font-size: 1em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
}
.text__num__3 {
    overflow: hidden;
    width: 100%;
    height: 45px;
    z-index: 1;

    padding-top: 10px;
    margin-left: 20px;
    margin-top: -50px;
    margin-bottom: -700px;
}
.contact{
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (min-width: 769px){
    #num__3{
        font-size: 2em;
    }
    .text__num__3{
        height: 88px;
        margin-top: -100px;
        margin-bottom: -800px;
    }
}

/* CONTACT ================================ */

/* .invisible_text{
    margin-bottom: -600px;
} */
/* h1{
    font-size: 5em;
    margin-top: 50px;
} */
/* .text-display-0 {
    overflow: hidden;
    width: 100%;
    height: 166px;
    position: absolute;
}
#text-0{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 11em; 
    color: #0000001f;
    position: relative;
    z-index: 2;
    padding-top: 0;
    margin-top: 30px;
}

.text-display-1 {
    overflow: hidden;
    width: 100%;
    height: 316px;
    position: absolute;
}
#text-1{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 12em; 
    color: #0000001f;
    position: relative;
    z-index: 2;
    padding-top: 130px;
}

.text-display-2 {
    overflow: hidden;
    width: 100%;
    height: 527px;
    position: absolute;
}
#text-2{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 14.5em; 
    color: #0000001f;
    position: relative;
    z-index: 2;
    padding-top: 280px;
}

.text-display-3 {
    overflow: hidden;
    width: 100%;
    height: 641px;
    position: absolute;
}
#text-3{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 9em; 
    color: #0000001f;
    position: relative;
    z-index: 2;
    padding-top: 480px;
} */

@media screen and (min-width: 769px){
    .b-text_3 {
        margin-top: 650px;
        margin-bottom: -2150px;
    }
    /* .invisible_text{
        margin-top: 150px;
    }
    .text-display-0 {
        width: 100%;
        height: 190px;
    }
    #text-0{
        text-align: center;
        font-size: 12em;
        padding-top: 0;
        margin-top: 30px;
    }
    
    .text-display-1 {
        width: 100%;
        height: 370px;
    }
    #text-1{
        text-align: right;
        font-size: 12em;
        padding-top: 130px;
    }
    
    .text-display-2 {
        width: 100%;
        height: 538px;
    }
    #text-2{
        text-align: left;
        font-size: 12em;
        padding-top: 300px;
    }
    
    .text-display-3 {
        width: 100%;
        height: 708px;
    }
    #text-3{
        text-align: right;
        font-size: 12em;
        padding-top: 470px;
    } */
    .o-container_contact{
        padding-top: -1750px;
    }
}

.b-text_3{
    margin-top: 650px;
}
/* ========================= */
.c-cta_contact h3 {
    /* font-family: "ApexMk3"; */
    font-family: "GRIFTER";
    color: rgb(0, 0, 0);
    /* font-size: 2em; */
    /* margin: 0.67em 0; */
}
.o-container_contact {
    margin-right: auto;
    margin-left: auto;
    max-width: 95rem;
}
@media (max-width: 699px) {
    .o-container_contact {
      padding-right: 20px;
      padding-left: 20px;

      margin-top: -900px;
      padding-bottom: 400px;
    }
}
@media (min-width: 700px) {
    .o-container_contact {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
    }
}

.o-title_contact {
    margin: 0;
    padding: 2.5rem 0;
    perspective: 600px;
    -webkit-perspective: 600px;
}
.o-title_line_contact {
    display: block;
    opacity: 0;
    /* transform-origin: center top; */
    transform-style: preserve-3d;
    transform: translateY(100%) rotateX(-80deg);
    transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1),
      transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-size: 0;
}
.o-title_contact.is-inview .o-title_line_contact {
    transform: none;
    opacity: 1;
}
.o-title_contact.is-inview .o-title_line_contact:first-child {
    transition-delay: 1.2s;
}
.o-title_contact.is-inview .o-title_line_contact:nth-child(2) {
    transition-delay: 1.3s;
}
.o-title_contact.is-inview .o-title_line_contact:nth-child(3) {
    transition-delay: 1.4s;
}
.o-title_contact.is-inview .o-title_line_contact:nth-child(4) {
    transition-delay: 1.5s;
}


.o-title_line_contact .collaborate{
    font-size: 8vw;
}
.o-title_line_contact span {
    display: inline-block;
    min-width: 0.05em;
    font-size: 6vw;
}
  
@media (max-width: 699px){
    .o-title_line_contact .collaborate{
        font-size: 7vw;
    }
    .o-title_line_contact span{
        font-size: 5vw;
    }
}


/* ================================================================= */

