@font-face {
    font-family: Altero;
    src: url(https://cdn.statically.io/gh/AlainBarrios/Fonts/c2f23223de197bbfd1adc66709be92f65c16b571/Altero-Regular.otf?raw=true);
  }
@font-face{
    font-family: "Le Grand Amour"; 
    src: url('./fonts/Le\ Grand\ Amour/PS-LeGrandAmour-Regular.otf') format('opentype');
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
  
/* make the body fits our viewport */
.container__work{
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.nav-main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#wrap-texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  /* make the canvas wrapper fits the document */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.plane {
  /* define the size of your plane */
  width: 100%;
  height: 100vh;
}

.plane img {
  /* hide the img element */
  display: none;
}

.nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.nav-main ul {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-row-gap: 2.3rem;
  /* justify-content: space-around;
  text-align: center; */
}

.nav-main li {
  display: grid;
  grid-template-areas: "center";
  /* font-family: Altero; */
  font-family: "GRIFTER";
  cursor: pointer;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
}

.nav-main span {
  grid-area: center;
}

.nav-main .first-menu {
  z-index: 10;
}

@media screen and (max-width: 899px){
  .pc{
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .nav-main ul {
    width: 100%;
    grid-template-columns: repeat(4, auto);
  }

  .plane {
    /* define the size of your plane */
    width: 50%;
    height: 50vh;
  }

  .mobile{
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .nav-main li {
    font-size: 1.7rem;
    text-align: center;
  }
  .mobile{
    display: none;
  }
}

/* VERSION MOBILE ========================================== */
@media screen and (max-width: 899px){
  .mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .mobile ul {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-row-gap: 2.3rem;
  }
  
  .mobile li {
    display: grid;
    grid-template-areas: "center";
    font-family: "GRIFTER";
    cursor: pointer;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
  }
  
  .mobile span {
    grid-area: center;
  }
  
  .mobile .first-menu {
    z-index: 10;
  }
}
/* ========================================================= */











a {
  text-decoration: none;
}
a:focus {
  outline: none;
  border: none;
}
.nav__link {
  font-size: 2rem;
  color: #fff;
  display: grid;
  /* font-style: italic; */
}
.nav__link--text {
  grid-area: 1/1;
  transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav__link--text .word {
  white-space: nowrap;
}
.nav__link--text .char {
  display: inline-block;
  transform-origin: 50% 50% 0.4em;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
  transition-delay: calc(0ms + var(--char-index) * 25ms);
  backface-visibility: hidden;
  margin: 0 -0.02em;
}
.nav__link--text:nth-child(1) {
  /* font-family: "Playfair Display"; */
  font-family: "GRIFTER";
  font-weight: 500;
}
.nav__link--text:nth-child(2) {
  /* font-family: "Roboto"; */
  font-family: "GRIFTER";
  font-weight: 500;
  opacity: 0;
}
.nav__link--text:nth-child(2) .char {
  transform: rotate3d(1, -0.5, 0, 90deg);
}
.nav__link:hover .nav__link--text {
  transform: translateX(var(--link-translate-x));
}
.nav__link:hover .nav__link--text:nth-child(1) {
  opacity: 0;
}
.nav__link:hover .nav__link--text:nth-child(1) .char {
  transform: rotate3d(1, 0.3, 0, -90deg);
}
.nav__link:hover .nav__link--text:nth-child(2) {
  opacity: 1;
}
.nav__link:hover .nav__link--text:nth-child(2) .char {
  transform: rotate3d(0, 0, 0, 90deg);
}

@media only screen and (max-width: 20rem) {
  :root {
    font-size: 10px;
    --link-translate-x: 2rem;
  }
}